.position-1 {
  left: calc(70% - 5rem);
  top: calc(50% + 1rem - 5rem);
}

.position-2 {
  left: calc(70% - 5rem);
  top: calc(50% + 2rem - 5rem);
}

.position-3 {
  left: calc(70% - 5rem);
  top: calc(50% + 3rem - 5rem);
}

.position-4 {
  left: calc(70% - 5rem);
  top: calc(50% + 4rem - 5rem);
}

.position-5 {
  left: calc(70% - 5rem);
  top: calc(50% + 5rem - 5rem);
}

.position-6 {
  left: calc(70% - 5rem);
  top: calc(50% + 6rem - 5rem);
}

.position-7 {
  left: calc(70% - 5rem);
  top: calc(50% + 7rem - 5rem);
}

.position-8 {
  left: calc(70% - 5rem);
  top: calc(50% + 8rem - 5rem);
}

.position-9 {
  left: calc(70% - 5rem);
  top: calc(50% + 9rem - 5rem);
}

.position-10 {
  left: calc(70% + 0rem - 5rem);
  top: calc(50% + 5rem);
}

.position-11 {
  left: calc(70% + 1rem - 5rem);
  top: calc(50% + 5rem);
}

.position-12 {
  left: calc(70% + 2rem - 5rem);
  top: calc(50% + 5rem);
}

.position-13 {
  left: calc(70% + 3rem - 5rem);
  top: calc(50% + 5rem);
}

.position-14 {
  left: calc(70% + 4rem - 5rem);
  top: calc(50% + 5rem);
}

.position-15 {
  left: calc(70% + 5rem - 5rem);
  top: calc(50% + 5rem);
}

.position-16 {
  left: calc(70% + 6rem - 5rem);
  top: calc(50% + 5rem);
}

.position-17 {
  left: calc(70% + 7rem - 5rem);
  top: calc(50% + 5rem);
}

.position-18 {
  left: calc(70% + 8rem - 5rem);
  top: calc(50% + 5rem);
}

.position-19 {
  left: calc(70% + 9rem - 5rem);
  top: calc(50% + 5rem);
}

.position-20 {
  left: calc(70% + 5rem);
  top: calc(50% - 0rem + 5rem);
}

.position-21 {
  left: calc(70% + 5rem);
  top: calc(50% - 1rem + 5rem);
}

.position-22 {
  left: calc(70% + 5rem);
  top: calc(50% - 2rem + 5rem);
}

.position-23 {
  left: calc(70% + 5rem);
  top: calc(50% - 3rem + 5rem);
}

.position-24 {
  left: calc(70% + 5rem);
  top: calc(50% - 4rem + 5rem);
}

.position-25 {
  left: calc(70% + 5rem);
  top: calc(50% - 5rem + 5rem);
}

.position-26 {
  left: calc(70% + 5rem);
  top: calc(50% - 6rem + 5rem);
}

.position-27 {
  left: calc(70% + 5rem);
  top: calc(50% - 7rem + 5rem);
}

.position-28 {
  left: calc(70% + 5rem);
  top: calc(50% - 8rem + 5rem);
}

.position-29 {
  left: calc(70% + 5rem);
  top: calc(50% - 9rem + 5rem);
}

.position-30 {
  left: calc(70% - 0rem + 5rem);
  top: calc(50% - 5rem);
}

.position-31 {
  left: calc(70% - 1rem + 5rem);
  top: calc(50% - 5rem);
}

.position-32 {
  left: calc(70% - 2rem + 5rem);
  top: calc(50% - 5rem);
}

.position-33 {
  left: calc(70% - 3rem + 5rem);
  top: calc(50% - 5rem);
}

.position-34 {
  left: calc(70% - 4rem + 5rem);
  top: calc(50% - 5rem);
}

.position-35 {
  left: calc(70% - 5rem + 5rem);
  top: calc(50% - 5rem);
}

.position-36 {
  left: calc(70% - 6rem + 5rem);
  top: calc(50% - 5rem);
}

.position-37 {
  left: calc(70% - 7rem + 5rem);
  top: calc(50% - 5rem);
}

.position-38 {
  left: calc(70% - 8rem + 5rem);
  top: calc(50% - 5rem);
}

.position-39 {
  left: calc(70% - 9rem + 5rem);
  top: calc(50% - 5rem);
}

.position-40 {
  left: calc(30% - 5rem);
  top: calc(50% + 0rem - 5rem);
}

.position-41 {
  left: calc(30% - 5rem);
  top: calc(50% + 1rem - 5rem);
}

.position-42 {
  left: calc(30% - 5rem);
  top: calc(50% + 2rem - 5rem);
}

.position-43 {
  left: calc(30% - 5rem);
  top: calc(50% + 3rem - 5rem);
}

.position-44 {
  left: calc(30% - 5rem);
  top: calc(50% + 4rem - 5rem);
}

.position-45 {
  left: calc(30% - 5rem);
  top: calc(50% + 5rem - 5rem);
}

.position-46 {
  left: calc(30% - 5rem);
  top: calc(50% + 6rem - 5rem);
}

.position-47 {
  left: calc(30% - 5rem);
  top: calc(50% + 7rem - 5rem);
}

.position-48 {
  left: calc(30% - 5rem);
  top: calc(50% + 8rem - 5rem);
}

.position-49 {
  left: calc(30% - 5rem);
  top: calc(50% + 9rem - 5rem);
}

.position-50 {
  left: calc(30% + 0rem - 5rem);
  top: calc(50% + 5rem);
}

.position-51 {
  left: calc(30% + 1rem - 5rem);
  top: calc(50% + 5rem);
}

.position-52 {
  left: calc(30% + 2rem - 5rem);
  top: calc(50% + 5rem);
}

.position-53 {
  left: calc(30% + 3rem - 5rem);
  top: calc(50% + 5rem);
}

.position-54 {
  left: calc(30% + 4rem - 5rem);
  top: calc(50% + 5rem);
}

.position-55 {
  left: calc(30% + 5rem - 5rem);
  top: calc(50% + 5rem);
}

.position-56 {
  left: calc(30% + 6rem - 5rem);
  top: calc(50% + 5rem);
}

.position-57 {
  left: calc(30% + 7rem - 5rem);
  top: calc(50% + 5rem);
}

.position-58 {
  left: calc(30% + 8rem - 5rem);
  top: calc(50% + 5rem);
}

.position-59 {
  left: calc(30% + 9rem - 5rem);
  top: calc(50% + 5rem);
}

.position-60 {
  left: calc(30% + 5rem);
  top: calc(50% - 0rem + 5rem);
}

.position-61 {
  left: calc(30% + 5rem);
  top: calc(50% - 1rem + 5rem);
}

.position-62 {
  left: calc(30% + 5rem);
  top: calc(50% - 2rem + 5rem);
}

.position-63 {
  left: calc(30% + 5rem);
  top: calc(50% - 3rem + 5rem);
}

.position-64 {
  left: calc(30% + 5rem);
  top: calc(50% - 4rem + 5rem);
}

.position-65 {
  left: calc(30% + 5rem);
  top: calc(50% - 5rem + 5rem);
}

.position-66 {
  left: calc(30% + 5rem);
  top: calc(50% - 6rem + 5rem);
}

.position-67 {
  left: calc(30% + 5rem);
  top: calc(50% - 7rem + 5rem);
}

.position-68 {
  left: calc(30% + 5rem);
  top: calc(50% - 8rem + 5rem);
}

.position-69 {
  left: calc(30% + 5rem);
  top: calc(50% - 9rem + 5rem);
}

.position-70 {
  left: calc(30% - 0rem + 5rem);
  top: calc(50% - 5rem);
}

.position-71 {
  left: calc(30% - 1rem + 5rem);
  top: calc(50% - 5rem);
}

.position-72 {
  left: calc(30% - 2rem + 5rem);
  top: calc(50% - 5rem);
}

.position-73 {
  left: calc(30% - 3rem + 5rem);
  top: calc(50% - 5rem);
}

.position-74 {
  left: calc(30% - 4rem + 5rem);
  top: calc(50% - 5rem);
}

.position-75 {
  left: calc(30% - 5rem + 5rem);
  top: calc(50% - 5rem);
}

.position-76 {
  left: calc(30% - 6rem + 5rem);
  top: calc(50% - 5rem);
}

.position-77 {
  left: calc(30% - 7rem + 5rem);
  top: calc(50% - 5rem);
}

.position-78 {
  left: calc(30% - 8rem + 5rem);
  top: calc(50% - 5rem);
}

.position-79 {
  left: calc(30% - 9rem + 5rem);
  top: calc(50% - 5rem);
}

.position-0 {
  left: calc(70% - 5rem);
  top: calc(50% - 5rem);
}

/* Landscape */
html {
  background-color: #2B242A;
}

body {
  font-size: inherit;
  color: white;
}

.text-headline {
  width: 100%;
  position: fixed;
  top: 2rem;
  text-align: center;
  font-size: 200%;
}
.text-headline span {
  margin-left: -6rem;
}

.input-container {
  position: fixed;
  font-size: 200%;
  width: 9rem;
  height: 9rem;
  transition: color 1s;
}
.input-container span {
  -webkit-transform: translate(-50%, -60%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.input-container.yes {
  top: calc(50% - 4.5rem);
  left: calc(30% - 4.5rem);
}
.input-container.yes:hover {
  color: green;
}
.input-container.no {
  top: calc(50% - 4.5rem);
  left: calc(70% - 4.5rem);
}
.input-container.no:hover {
  color: red;
}

.view-area {
  width: calc(100%-3rem);
  height: calc(100%-3rem);
  position: fixed;
  margin: 3rem;
  background-color: #2B242A;
}

@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1, 1);
    z-index: 5;
  }
  25% {
    z-index: 4;
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    z-index: 3;
  }
  100% {
    -webkit-transform: scale(1, 1);
    z-index: 2;
  }
}
@-webkit-keyframes twinkle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    z-index: 50;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(3, 3);
    z-index: 49;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    z-index: 48;
  }
}
.heart-container {
  position: fixed;
  -webkit-animation-iteration-count: 1;
  font-size: 100%;
}
.heart-container.throb {
  -webkit-animation: throb linear 1s;
}
.heart-container.large {
  font-size: 140%;
}
.heart-container.medium {
  font-size: 120%;
}
.heart-container.small {
  font-size: 70%;
}
.heart-container.twinkle {
  z-index: 300;
}

.heart-part {
  position: fixed;
  padding: 0.2rem;
  transition: left 3s, top 3s, font-size 3s;
}
.heart-part.twinkle {
  -webkit-animation: twinkle ease-in 4s;
}
.heart-part.crying {
  transition: left 2s, top 2s, font-size 2s;
}
.heart-part.red {
  transform: translate(-50%, -50%);
  color: #C91E5A;
  z-index: 0;
}
.heart-part.white {
  transform: translate(-55%, -55%);
  color: #EAD8C1;
  z-index: 1;
  font-size: 64%;
}

.animate-enter {
  opacity: 0.01;
  transition: opacity 0.75s ease-in;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

.fading.fade-out {
  opacity: 0;
  -webkit-animation: fade-out linear 1s;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.growing.fade-out {
  opacity: 0;
}
.growing.mega-huge {
  font-size: 2200%;
  -webkit-animation: mega-huge linear 3s;
}

@-webkit-keyframes mega-huge {
  0% {
    -webkit-transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(15, 15);
  }
}